.cell {
    font-size: 1.1rem;
    font-weight: 600;
    color: #212121;
}

.input {
    max-width: 90px;
    padding: 8px;
    font-size: 1rem;
    font-weight: 600;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 5px;
}